.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    background: none;
    padding:  10px 30px;
    font-weight: var(--semi-bold);
    border-radius: 5px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: color .3s, background-color .3s, border .3s;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--strong-color);
    &:hover {
        background: none;
        border-color: var(--primary-color);
        color: var(--primary-color);
    }
}